# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

projetSoftwareArchitecture/.idea/.gitignore
projetSoftwareArchitecture/.idea/misc.xml
projetSoftwareArchitecture/.idea/vcs.xml
projetSoftwareArchitecture/pom.xml
projetSoftwareArchitecture/src/main/resources/META-INF/maven/archetype.xml
projetSoftwareArchitecture/src/main/resources/archetype-resources/pom.xml
projetSoftwareArchitecture/src/main/resources/archetype-resources/src/main/java/App.java
projetSoftwareArchitecture/src/main/resources/archetype-resources/src/test/java/AppTest.java
